*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial';
}

html,body{
  width: 100%;
  height: 100%;
}
label{
  margin-bottom: -5px;
  margin-left: 7px;
}
.bold{
  font-weight: 800;
  color: rgb(79, 79, 79) !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


